@*
    Title: Index View
    Purpose: This page provides a table that lists all the whales in the
             database, including links to view additional details about each.
             It also has a button to go to the add whale form.
*@

@model List<Whale>
@{
    ViewData["Title"] = "Whale App";
}

<p>
    @Model.Count whale(s) have been cataloged.
</p>

<p>
    <a asp-action="Add" class="btn btn-primary">
        🐳 Add Whale
    </a>
</p>

@if(Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Common Name</th>
                    <th>Scientific Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Whale whale in Model)
                {
                    <tr>
                        <td>@whale.CommonName</td>
                        <td>@whale.ScientificName</td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@whale.Id" asp-route-slug="@whale.Slug" class="btn btn-outline-secondary">
                                Details
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
