@model Whale
@{
    ViewData["Title"] = Model.CommonName;
}

@if (Model.ScientificName?.Length > 0)
{
    <h2><i>@Model.ScientificName</i></h2>
}

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
        Edit
    </a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
        Delete
    </a>
</p>

<h2>Description</h2>

<p>
    @if (Model.Description != "")
    {
        @Model.Description
    }
    else
    {
        <i>No description.</i>
    }
</p>

<h2>Quick Facts</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Lifespan</th>
            <td>@Model.Lifespan years</td>
        </tr>
        <tr>
            <th>Migration Distance</th>
            <td>@Model.MigrationDistance miles</td>
        </tr>
        <tr>
            <th>Population</th>
            <td>@Model.Population</td>
        </tr>
        <tr>
            <th>Conservation Status</th>
            <td>
                @ConservationStatus.CodeToString(Model.ConservationStatus!.Value)
            </td>
        </tr>
    </table>
</div>

<h2>Locations</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                <input type="checkbox" disabled @(Model.IsInArcticOcean ? "checked" : "") />
                <span>Arctic Ocean</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" disabled @(Model.IsInAtlanticOcean ? "checked" : "") />
                <span>Atlantic Ocean</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" disabled @(Model.IsInIndianOcean ? "checked" : "") />
                <span>Indian Ocean</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" disabled @(Model.IsInPacificOcean ? "checked" : "") />
                <span>Pacific Ocean</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" disabled @(Model.IsInSouthernOcean ? "checked" : "") />
                <span>Southern Ocean</span>
            </td>
        </tr>
    </tbody>
</table>